# Catagorical Column
1. There are 2 type of categorical columns.
    1. Ordinal 
    2. Nominal
# Ordinal columns
1. Those Column which has some order called ordianl columns we can encode these column using `ordinal encoder`
**Example**
1. Good-> Average-> Bad

# Nominal columns
1. Those column which can't follow any order caalled nominal columns we can encode these column using `one hot encoder`
**Example**
1. Any language or city or state etc.

# Import Packages

In [1]:
import pandas as pd
import numpy as np

# Load Dataset

In [47]:
df=pd.read_csv('onlinefoods.csv',usecols=['Age','Gender','Occupation','Educational Qualifications','Feedback'])
df.head(10)

   Age  Gender Occupation Educational Qualifications   Feedback
0   20  Female    Student              Post Graduate   Positive
1   24  Female    Student                   Graduate   Positive
2   22    Male    Student              Post Graduate  Negative
3   22  Female    Student                   Graduate   Positive
4   22    Male    Student              Post Graduate   Positive
5   27  Female   Employee              Post Graduate   Positive
6   22    Male    Student                   Graduate   Positive
7   24  Female    Student              Post Graduate   Positive
8   23  Female    Student              Post Graduate   Positive
9   23  Female    Student              Post Graduate   Positive

In [26]:
df["Gender"].value_counts()

Gender
Male      222
Female    166
Name: count, dtype: int64

In [27]:
df["Occupation"].value_counts()

Occupation
Student           207
Employee          118
Self Employeed     54
House wife          9
Name: count, dtype: int64

In [28]:
df["Educational Qualifications"].value_counts()

Educational Qualifications
Graduate         177
Post Graduate    174
Ph.D              23
School            12
Uneducated         2
Name: count, dtype: int64

In [29]:
df["Feedback"].value_counts()

Feedback
Positive     317
Negative      71
Name: count, dtype: int64

# Apply the ordinal encoder on `Education` and Lable encoder on `Feedback` column

# Encode the target col

In [40]:
from sklearn.preprocessing import LabelEncoder

In [37]:
encode=LabelEncoder()
df['Feedback']=encode.fit_transform(df['Feedback'])

In [39]:
df.sample(2)

     Age Gender Occupation Educational Qualifications  Feedback
66    24   Male   Employee                   Graduate         1
127   25   Male    Student              Post Graduate         1

## Train test split

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['Feedback']),df['Feedback'],test_size=0.2,random_state=34)

# Applt Ordianl Encoder

In [43]:
from sklearn.preprocessing import OrdinalEncoder

In [44]:
ordi=OrdinalEncoder(categories=[['Uneducated','School','Post Graduate','Graduate','Ph.D']])
x_train['Educational Qualifications']=ordi.fit_transform(x_train[['Educational Qualifications']])
x_test['Educational Qualifications']=ordi.transform(x_test[['Educational Qualifications']])

In [48]:
x_train.head(10)

     Age  Gender      Occupation  Educational Qualifications
88    25    Male         Student                         2.0
244   30    Male  Self Employeed                         3.0
175   23  Female        Employee                         3.0
30    22  Female        Employee                         3.0
232   24  Female  Self Employeed                         2.0
320   26    Male  Self Employeed                         2.0
177   26    Male  Self Employeed                         2.0
127   25    Male         Student                         2.0
196   19    Male         Student                         3.0
20    24    Male         Student                         2.0

# Check the category

In [49]:
ordi.categories_

[array(['Uneducated', 'School', 'Post Graduate', 'Graduate', 'Ph.D'],
       dtype=object)]

In [50]:
ordi.feature_names_in_

array(['Educational Qualifications'], dtype=object)