# Column Transformer
1. **Column Transformer is the most  powerfull feature in sckit learn it is used to combine multiple processing steps in a one single step.**

# Plan Of Acion
1. **First we can process all the steps without using column transformer**
2. **We can use Column transfomer to process these steps**

# Import packages

In [132]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Laod dataset

In [133]:
df=pd.read_csv('onlinefoods.csv')
df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes

In [134]:
df.drop(columns='Unnamed: 12',inplace=True)

In [135]:
df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive

In [136]:
df.dropna(inplace=True)

# Wihout `Column Transformer`

## Saperate Feature and label

In [137]:
feature=df.drop(columns='Feedback')
label=df['Feedback']

## Encdoe Target Column

In [138]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,OneHotEncoder

In [139]:
encode=LabelEncoder()
label=encode.fit_transform(label)

In [140]:
feature=df.drop(columns='Feedback')

## Train Test Split

In [141]:
from sklearn.model_selection import train_test_split

In [142]:
x_train,x_test,y_train,y_test=train_test_split(feature,label,test_size=0.2,random_state=42)

# prcesssing without `column transformer`

In [143]:
df['Educational Qualifications'].value_counts()

Educational Qualifications
Graduate         177
Post Graduate    174
Ph.D              23
School            12
Uneducated         2
Name: count, dtype: int64

# Encode Ordinal data

In [144]:
odr=OrdinalEncoder(categories=[['Uneducated','School','Post Graduate','Graduate','Ph.D']])
x_train['Educational Qualifications']=odr.fit_transform(x_train[['Educational Qualifications']])
x_test['Educational Qualifications']=odr.transform(x_test[['Educational Qualifications']])

# Encode Nominal Col

In [145]:
ohe=OneHotEncoder(drop='first',sparse=False,handle_unknown='ignore')
x_train_g_s_o_encode=ohe.fit_transform(x_train[['Gender','Marital Status','Occupation','Output']])
x_test_g_s_o_encode=ohe.transform(x_test[['Gender','Marital Status','Occupation','Output']])

# Now merge them encode and non encode col

In [151]:
x_train_g_s_o_encode

array([[1., 0., 1., ..., 0., 1., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 1., 1.],
       ...,
       [1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 1., 1.],
       [0., 0., 1., ..., 0., 0., 1.]])

In [152]:
x_train_encode=np.hstack((x_train.drop(columns=['Gender','Marital Status','Occupation','Output']), x_train_g_s_o_encode))
x_test_encode=np.hstack((x_test.drop(columns=['Gender','Marital Status','Occupation','Output']), x_test_g_s_o_encode))

# Now check the encoded data

In [153]:
x_train_g_s_o_encode

array([[1., 0., 1., ..., 0., 1., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 1., 1.],
       ...,
       [1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 1., 1.],
       [0., 0., 1., ..., 0., 0., 1.]])

In [154]:
x_train_encode.shape

(310, 14)

In [155]:
x_test_encode

array([[21, 'Below Rs.10000', 3.0, ..., 0.0, 0.0, 0.0],
       [24, 'No Income', 2.0, ..., 0.0, 1.0, 1.0],
       [24, 'No Income', 2.0, ..., 0.0, 1.0, 1.0],
       ...,
       [24, 'No Income', 2.0, ..., 0.0, 1.0, 1.0],
       [25, 'Below Rs.10000', 3.0, ..., 0.0, 0.0, 0.0],
       [27, 'More than 50000', 3.0, ..., 1.0, 0.0, 1.0]], dtype=object)

In [156]:
x_test_encode.shape

(78, 14)

# Now use Column Transformer

In [157]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

# Saperate num and cat col

In [158]:
num_col=feature.select_dtypes('number').columns
num_col

Index(['Age', 'Family size', 'latitude', 'longitude', 'Pin code'], dtype='object')

In [159]:
ordinal_col=np.array(['Educational Qualifications'])
ordinal_col

array(['Educational Qualifications'], dtype='<U26')

In [160]:
nominal_col=feature.drop(columns=['Educational Qualifications']).select_dtypes("object").columns
nominal_col

Index(['Gender', 'Marital Status', 'Occupation', 'Monthly Income', 'Output'], dtype='object')

# Now apply the columns transformer

In [161]:
process=ColumnTransformer(transformers=[
    ("tr1",StandardScaler(),num_col),
    ("tr2",OrdinalEncoder(),ordinal_col),
    ("tr3",OneHotEncoder(sparse=False,drop='first',handle_unknown='ignore'),nominal_col),
],remainder='passthrough')
process

ColumnTransformer(remainder='passthrough',
                  transformers=[('tr1', StandardScaler(),
                                 Index(['Age', 'Family size', 'latitude', 'longitude', 'Pin code'], dtype='object')),
                                ('tr2', OrdinalEncoder(),
                                 array(['Educational Qualifications'], dtype='<U26')),
                                ('tr3',
                                 OneHotEncoder(drop='first',
                                               handle_unknown='ignore',
                                               sparse=False),
                                 Index(['Gender', 'Marital Status', 'Occupation', 'Monthly Income', 'Output'], dtype='object'))])

In [163]:
x_train_encode=process.fit_transform(x_train)
x_test_encode=process.transform(x_test)

In [165]:
x_train_encode.shape

(310, 17)

In [166]:
x_test_encode.shape

(78, 17)