# Plan of Action 
1. we can use sckit learn class to check the result.
2. We can implement my own class

# import packages

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Load dataset

In [4]:
df=pd.read_csv("insurance_data.csv",usecols=['age','bmi','claim'])
df.head(2)

    age   bmi    claim
0  39.0  23.2  1121.87
1  24.0  30.1  1131.51

In [8]:
df.dropna(inplace=True)

In [9]:
df.describe()

               age          bmi         claim
count  1335.000000  1335.000000   1335.000000
mean     38.078652    30.654382  13298.120517
std      11.102924     6.112894  12109.503660
min      18.000000    16.000000   1121.870000
25%      29.000000    26.200000   4749.060000
50%      38.000000    30.300000   9391.350000
75%      47.000000    34.700000  16717.010000
max      60.000000    53.100000  63770.430000

# Check the `mean` and `standivation`
1. values range should be in the range of 0 and 1

# train test split

In [6]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns='claim'),df['claim'],test_size=0.2,random_state=33)

# Apply `MinMaxScaler`

In [10]:
scale=MinMaxScaler()
x_train_trans=scale.fit_transform(x_train)
x_test_tran=scale.transform(x_test)

In [12]:
scale_df=pd.DataFrame(x_train_trans,columns=x_train.columns)
scale_df.head()

        age       bmi
0  0.380952  0.436658
1  0.690476  0.045822
2  0.285714  0.401617
3  0.785714  0.544474
4  0.095238  0.547170

In [13]:
scale_df.describe()

               age          bmi
count  1068.000000  1072.000000
mean      0.480805     0.394089
std       0.263658     0.166151
min       0.000000     0.000000
25%       0.261905     0.271563
50%       0.476190     0.384097
75%       0.690476     0.504717
max       1.000000     1.000000

# Check the `mean` and `standivation` after scaling

# Custom Class

# Formula
1. `new = x-min(x) /max(x)-min(x)`

In [27]:
class MyMinMax:
    def __init__(self):
        self.min=None
        self.max=None
    
    def fit(self,x_train):
        self.min=np.min(x_train)
        self.max=np.max(x_train)
        
    def transform(self,x_train):
        scale_data=np.asarray((x_train-self.min)/(self.max - self.min))
        return scale_data
    
    def fit_transform(self,x_train):
        self.fit(x_train=x_train)
        
        scale_data=np.asarray((x_train-self.min)/(self.max - self.min))
        return scale_data

In [28]:
my=MyMinMax()

In [30]:
my_x_train_scale=my.fit_transform(x_train)
my_x_test_scale=my.transform(x_test)

In [35]:
scale_df2=pd.DataFrame(my_x_test_scale,columns=x_train.columns)
scale_df2.describe()

              age         bmi
count  267.000000  268.000000
mean     0.491318    0.337771
std      0.255193    0.133601
min      0.045455    0.027273
25%      0.272727    0.247159
50%      0.500000    0.331818
75%      0.693182    0.421023
max      1.000000    0.752273

In [36]:
scale_df.describe()

               age          bmi
count  1068.000000  1072.000000
mean      0.480805     0.394089
std       0.263658     0.166151
min       0.000000     0.000000
25%       0.261905     0.271563
50%       0.476190     0.384097
75%       0.690476     0.504717
max       1.000000     1.000000

# Conclussion
1. We can see that `Sckitlearn MinMaxScaler` and `MyCustom` Class has almost Similar result