In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Itrative Imouter
1. **Itrative Imputer is technique to fill the missing value using multiple columns.**
2. **It is multiclass imputation.**

# Working
1. **First we can fill the missing value with mean.**
2. **Second we can convert back into missing values.**
3. **We can build a model to predict the missing value in this case missing data col is a target col and remaing are the feature columns.**
4. **we calculate the difference b/w predicted value and mean value of the entire col.**
5. **we can predict the value and calculate the difference continuw untill it difference is equal to 0.**

# Advantage
1. **Is is most accurate.**

# Disadvantage
1. **It is slow.**

**Generate A Random Sample Data With 20% missing values**

In [2]:
num_rows=1000
num_cols=10

data=np.random.rand(num_rows,num_cols)

df=pd.DataFrame(data, columns=[f"feature{i}" for i in range (num_cols)])

df.head()

,feature0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9
0,0.794987,0.185288,0.297527,0.752510,0.215122,0.679606,0.011710,0.508964,0.902590,0.017189
1,0.683341,0.960137,0.751410,0.212197,0.780384,0.250817,0.845451,0.679851,0.043136,0.696095
2,0.302159,0.858328,0.006710,0.667153,0.759781,0.128745,0.259902,0.791315,0.846652,0.751548
3,0.848491,0.754866,0.511372,0.921076,0.714787,0.724678,0.093481,0.736732,0.253550,0.874443
4,0.264751,0.872481,0.257885,0.067788,0.138708,0.876847,0.096497,0.165834,0.436622,0.766043

**Add the missing values**

In [3]:
missing_ratio=0.010
num_missing = int(np.round(num_rows * num_cols * missing_ratio))
missing_indices = np.random.choice(range(num_rows), size=num_missing, replace=True)
missing_columns = np.random.choice(range(num_cols), size=num_missing, replace=True)
for i, j in zip(missing_indices, missing_columns):
    df.iloc[i, j] = np.nan
# Display the dataset with missing values
print("Sample Dataset with Missing Values:")
df.head()

Sample Dataset with Missing Values:

,feature0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9
0,0.794987,0.185288,0.297527,0.752510,0.215122,0.679606,0.011710,0.508964,0.902590,0.017189
1,0.683341,0.960137,0.751410,0.212197,0.780384,0.250817,NaN,0.679851,0.043136,0.696095
2,0.302159,0.858328,0.006710,0.667153,0.759781,0.128745,0.259902,0.791315,0.846652,0.751548
3,0.848491,0.754866,0.511372,0.921076,0.714787,0.724678,0.093481,0.736732,0.253550,0.874443
4,0.264751,0.872481,0.257885,0.067788,0.138708,0.876847,0.096497,0.165834,0.436622,0.766043

**Now Check Missing value**

In [4]:
df.isnull().sum()

feature0     8
feature1    10
feature2    10
feature3    12
feature4    11
feature5    10
feature6     8
feature7     8
feature8    11
feature9    11
dtype: int64

**We can successfuly add missing values now fill the values using itrative imputer**

# Train Test Split
1. **We can split the data in this way we can use `last col` as target and remaing col as feature.**

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
feature=df.iloc[:,:-1]
label=df.iloc[:,-1]

In [7]:
feature.head(2)

,feature0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8
0,0.794987,0.185288,0.297527,0.752510,0.215122,0.679606,0.01171,0.508964,0.902590
1,0.683341,0.960137,0.751410,0.212197,0.780384,0.250817,NaN,0.679851,0.043136

In [8]:
label.head(2)

0    0.017189
1    0.696095
Name: feature9, dtype: float64

In [9]:
x_train,x_test,y_train,y_test=train_test_split(feature,label,test_size=0.2,random_state=42)

In [10]:
x_train.shape

(800, 9)

In [11]:
x_test.shape

(200, 9)

**Apply Iterative Imputer**

In [12]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [13]:
impute=IterativeImputer()
x_train_impute=impute.fit_transform(x_train)
x_test_impute=impute.transform(x_test)

# Check the result

In [14]:
pd.DataFrame(x_train_impute,columns=x_train.columns).isnull().sum()

feature0    0
feature1    0
feature2    0
feature3    0
feature4    0
feature5    0
feature6    0
feature7    0
feature8    0
dtype: int64